services:
  mariadb:
    container_name: mariadb
    restart: always
    env_file: .env
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    volumes:
      - maria_vm:/var/lib/mysql
    networks:
      - inception

  nginx:
    container_name: nginx
    restart: always
    env_file: .env
    ports:
      - "443:443"
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    volumes:
      - wp_vm:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress

  wordpress:
    container_name: wordpress
    restart: always
    env_file: .env
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    volumes:
      - wp_vm:/var/www/html
    networks:
      - inception
    depends_on:
      - mariadb


volumes:
  maria_vm:
    name: maria_vm
    driver: local
    driver_opts:
      type: none
      device: /home/nmontiel/data/mariadb
      o: bind
  wp_vm:
    name: wp_vm
    driver: local
    driver_opts:
      type: none
      device: /home/nmontiel/data/wordpress
      o: bind

networks:
  inception:
    name: inception
    driver: bridge